body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    width: 400px;
    height: 200px;
    border: solid;
    border-color: black;
    box-sizing: border-box;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    box-sizing: border-box;
}

#zero {
    width: 200px;
}

button {
    width: 100px;
    height: 100px;
}

.rightColumn {
    background-color: orange;
}

.digit, .specialCase {
    background-color: gray;
}

.topButtons {
    background-color: lightgray;
}