body {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 450px;
    border-radius: 20px;
}

.label {
    width: 400px;
    height: 200px;
    border: solid;
    border-color: black;
    box-sizing: border-box;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    box-sizing: border-box;
    gap: 5px;
    padding-bottom: 40px;
}

#zero {
    width: 185px;
    border-radius: 100px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 75%;
    border: solid black;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.rightColumn {
    background-color: orange;
}

.digit, .specialCase {
    background-color: gray;
}

.topButtons {
    background-color: lightgray;
    color: black;
}